body {
  background-color: #2e2e2e;
}

/* Página de Login */

#headOneLogin {
  color: aquamarine;
  font-size: 80px;
  text-align: center;
  margin-top: 80px;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

.divInput {
  display: flex;
  text-align: center;
  padding: 20px;
  margin: 100px 400px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.buttonLogin {
  margin: 5px 150px;
  background-color: rgb(58, 219, 162);
  border-radius: 5px;
}

input {
  margin: 3px;
  border: 1px solid #E1E5EB;
  border-radius: 5px;
  text-align: center;
}

/* Página de game */

#divGame {
  display: flex;
  text-align: center;
  padding: 20px;
  margin: 100px 400px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #c4c4c4;
}

#headOneGame {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(53, 146, 115);
}

.questionCategory {
  font-size: 20px;
}

.questionAsk {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #eee9e9ca;
  border-radius: 10px;
  padding: 10px;
}

.buttonGame {
  width: 300px;
  display: flex;
  font-size: 15px;
  background-color: rgb(231, 238, 235);
  border-radius: 6px;
  padding: 5px;
  margin: 1px;
}

.buttonNext {
    background-color: rgb(58, 219, 162);
    border-radius: 5px;
    font-size: 25px;
}

/* Página de Feedback */

#couldParag {
  font-size: 30px;
  color: #f03b3b;
  font-family: Arial, Helvetica, sans-serif;
}

#wellParag {
  font-size: 30px;
  color: #126f05;
  font-family: Arial, Helvetica, sans-serif;
}

.total {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Página de Ranking  */

#headRanking {
  font-size: 60px;
}