body {
  background-color: #2e2e2e;
}

.headOneLogin {
  color: aquamarine;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 80px;
  margin-top: 80px;
  text-align: center;
}

.divInput {
  background-color: #c4c4c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 40px 400px;
  padding: 20px;
  text-align: center;
}

.buttonLogin {
  background-color: rgb(58, 219, 162);
  border-radius: 5px;
  font-size: 20px;
  margin: 5px 150px;
  padding: 15px;
}

input {
  border: 1px solid#E1E5EB;
  border-radius: 5px;
  font-size: 20px;
  margin: 3px;
  padding: 15px;
  text-align: center;
  width: 66%;
}

/* Página de game */
.divGame {
  background-color: #c4c4c4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 100px 400px;
  padding: 20px;
  text-align: center;

}

.headOneGame {
  color: rgb(53, 146, 115);
  font-family: Arial , Helvetica , sans-serif;
  font-size: 40px;
}

.questionCategory {
  font-size: 20px;
}

.questionAsk {
  background-color: #eee9e9ca;
  border-radius: 10px;
  font-family: Lucida Sans , Lucida Grande , Geneva , Verdana , sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.buttons-resp {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttonGame {
  align-content: center;
  background-color: rgb(231, 238, 235);
  border-radius: 6px;
  display: flex;
  font-size: 15px;
  margin: 1px;
  padding: 5px;
  width: 300px;
}

.buttonNext {
  background-color: rgb(58, 219, 162);
  border-radius: 5px;
  font-size: 25px;
}

/* Página de Feedback */
.couldParag {
  color: #f03b3b;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 30px;
}

.wellParag {
  color: #126f05;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 30px;
}

.total {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 22px;
}

/* Página de Ranking  */
.headRanking {
  font-size: 60px;
}
